.my-card {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h2,h5{
    color: #047BFE;
    font-weight: bold;
    text-align: center;
}